{% macro add_help_text(help_text) %}
  <span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px" onclick="getHelpBox('{{help_text}}');"></span>
{% endmacro %}

{% macro sidebar() %}
<div id='sidebar'>
  <div>
    <a href="/" class="navbar-brand">
      <img style="width:40px;height:40px;" src="{{url_for('public.favicon', filename='android-chrome-512x512.png')}}" alt="Logo", width="80" height="80" >
    </a>
    <a class='show-tooltip' title='Help'
      href="http://enterobase.readthedocs.io/en/latest/grapetree/grapetree-about.html" target='_blank'><span
        class="glyphicon glyphicon-question-sign"
        style="font-size:30px;height:50px;margin-right:5px;top:10px"></span></a>
  </div>
  <br>
  <div id='input-output-panel' class='panel panel-default'>
    <div class='panel-heading mst-menu-title' id='file-menu'> <b id='input-output-title'>Inputs/Outputs</b><span
        id='file-menu-icon' class='glyphicon glyphicon-menu-down'> </span></div>
    <div class="panel-body" id='file-menu-panel'>
      <div id='load-panel'>
        <button title='Handles trees, profiles and metadata files' id='button-files' class='show-tooltip'>
          Load Files</button>
        {{ add_help_text('load_files') }}
        <hr>
      </div>
      <div id='save-panel'>
        <button id="save-tree-json">Save GrapeTree</button>
        {{ add_help_text('save_grapetree') }}
        <button id="save-tree-nwk">Save as Newick Tree</button><br>
        <button id="mst-download-svg">Download SVG</button><br>
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading mst-menu-title' id='tree-menu'> <b id>Tree Layout</b><span id='tree-menu-icon'
        class='glyphicon glyphicon-menu-right'> </span></div>
    <div class="panel-body" id='tree-menu-panel' style='padding:0px;'><br>
      <button id='button-goback' style='margin-left:15px;'
        onclick='loadMSTree(tree_raw);if(current_metadata_file) {loadMetadataText(current_metadata_file);}'>
        Original tree</button>
      {{ add_help_text('tree_layout') }}
      <br>
      <button id='button-refresh' style='margin-left:15px;'> Static Redraw </button>
      <br>
      <button id="center-graph-button" style='margin-left:15px;'>Centre Tree</button>
      <br>
      <label><input id='show-node-tooltip' style='margin-left:15px;' type="checkbox" checked /> Show
        Tooltips</label>
      <hr>
      <p align='center'>
        <label> Drag Icon to Rotate:&nbsp;</label>
        <span id="rotation-icon" class="glyphicon glyphicon-refresh"></span>
        <br>
        <label>Zoom:&nbsp;</label>
        <span onclick="javascript:the_tree.setScale(1.1,true)"
          class=' zoom-icon glyphicon glyphicon-zoom-in'></span>
        <span onclick="javascript:the_tree.setScale(0.9,true)"
          class='zoom-icon glyphicon glyphicon-zoom-out'></span>
      </p>
      <div class='panel panel-default sub-panel'>
        <div class='panel-heading mst-menu-title' id='mst-node-menu'> <b id>Node Style</b><span
            id='mst-node-menu-icon' class="glyphicon glyphicon-menu-right"></span></div>
        <div class="panel-body" id='mst-node-menu-panel'>
          <label>Colour By:</label>
          <br>
          <select style="width:160px" id='metadata-select'>
            <option value='nothing'>No category</option>
          </select>
          <hr>
          <label><input id='show-node-labels' type="checkbox" checked /> Show Labels</label>
          {{ add_help_text('show_labels') }}
          <select style='width:160px' id='node-label-text'></select>
          <br>
          <label>Font Size:</label>
          <br>
          <div id="slider-node-fontsize" class="slider-class"></div><input type='text'
            style='width:20px;height:15px' id='spinner-node-fontsize' class='spin-group'><br>
          <hr>
          {{ add_help_text('node_size') }}
          <div>
            <span onclick="$('#spinner-nodesize').spinner('value', 100)"
              class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Node Size
              (%)</label><br>
            <div id="slider-nodesize" class="slider-class"></div><input type='text'
              id='spinner-nodesize' class='spin-group'>
          </div>

          <div class="show-tooltip" title="Node size relative to number of strains">
            <span onclick="$('#spinner-relative-nodesize').spinner('value', 100)"
              class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Kurtosis
              (%)</label><br>
            <div id="slider-relative-nodesize" class="slider-class"></div><input type='text'
              id='spinner-relative-nodesize' class='spin-group'>
          </div>
          <hr>
          <label>Highlight Label</label>
          <br>
          <input size="11" id='search-metadata-input'><span id='search-metadata-icon'
            class='add-data-icon glyphicon glyphicon-search'></span>
          <br>
          <label><input id='show-individual-segments' type="checkbox" /> Show Pie Chart</label>
          <br>
        </div>
      </div>
      <div class='panel panel-default  sub-panel'>
        <div class='panel-heading mst-menu-title' id='mst-link-menu'> <b id>Branch Style</b><span
            id='mst-link-menu-icon' class='glyphicon glyphicon-menu-right'> </span></div>
        <div class="panel-body" id='mst-link-menu-panel'>
          <label><input id='show-link-labels' type="checkbox" /> Show Labels</label>
          {{ add_help_text('branch_labels') }}
          <br>
          <label>Font Size:</label>
          <br>
          <div id="slider-linkfontsize" class="slider-class"></div><input type='text'
            style='width:20px;height:15px' id='spinner-linkfontsize' class='spin-group'>
          <br>
          <div>
            <span onclick="$('#spinner-linklength').spinner('value', 100)"
              class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Scaling
              (%)</label><br>
            <div id="slider-linklength" class="slider-class"> </div><input type='text'
              id='spinner-linklength' class='spin-group'>
          </div>

          <div class="show-tooltip" title="Collapse branches below a certain value">
            <span onclick="$('#spinner-collapse-nodes').spinner('value', 0)"
              class='glyphicon glyphicon-fast-backward'></span><label>&nbsp;&nbsp;Collapse
              Branches</label><br>
            <div id="slider-collapse-nodes" class="slider-class"></div><input type='text'
              id='spinner-collapse-nodes' class='spin-group'>
          </div>
          <label><input id='link-log-scale' type="checkbox" />Log Scale</label>
          <hr>
          {{ add_help_text('branch_cutoffs') }}
          <label>For branches <br> longer than:<input type='text' id='spinner-link-length'
              class='spin-group'></label>
          <table>
            <tbody>
              <tr>
                <td>
                  <div style="opacity: 1;"><input type="radio" id="handle-long-branch-display"
                      name="handle-long-branch" value="display" checked=""
                      style="opacity: 1;">Display</div>
                </td>
                <td style="padding-left:10px">
                  <div style="opacity: 1;"><input type="radio" id="handle-long-branch-hide"
                      name="handle-long-branch" value="hide" style="opacity: 1;">Hide</div>
                </td>
                <td style="padding-left:10px">
                  <div style="opacity: 1;"><input type="radio" id="handle-long-branch-cap"
                      name="handle-long-branch" value="cap" style="opacity: 1;">Shorten</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class='panel panel-default'>
    <div class='panel-heading mst-menu-title' id='mst-layout-menu'> <b id>Rendering</b><span
        id='mst-layout-menu-icon' class="glyphicon glyphicon-menu-right"></span></div>
    <div class="panel-body" id='mst-layout-menu-panel'>
      {{ add_help_text('rendering') }}
      <div><input type='radio' name='render-method' class='render-method' value='automatic' /><b>Dynamic</b>
      </div>
      <div style='margin-left:20px;font-size:90%'><input id='render-selected-only' type="checkbox" checked />
        Selected Only</div>

      <div style="margin-top:20px"><input type='radio' name='render-method' class='render-method'
          value='static' checked /><b>Static</b></div>
      <div style='margin-left:20px;font-size:90%'><input id='correct_link_length' type="checkbox" checked />
        Real Branch Length</div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading mst-menu-title' id='right-menu'> <b id>Context Menu</b><span id='right-menu-icon'
        class='glyphicon glyphicon-menu-right'> </span></div>
    <div class="panel-body" id='right-menu-panel'>
      {{ add_help_text('context_menu') }}
      <div class='open-context' id='mst-svg-x' style='font-size:110%;margin:10px'>GrapeTree</div>
      <div class='open-context' id='myGrid-x' style='font-size:110%;margin:10px'>Metadata</div>
      <div class='open-context' id='legend-svg-x' style='font-size:110%;margin:10px'>Figure Legend</div>
    </div>

  </div>
</div>
{% endmacro %}

