{% macro accession_link(accession) %}
    <a class="text-dark" target="_blank" href="https://www.ncbi.nlm.nih.gov/protein/{{accession}}">{{ accession }}</a>
{% endmacro %}

{% macro resistance_summary_row(gene)%}
    <td>{{ accession_link(gene.accession) }}</td>
    <td>{{ gene.depth | fmt_null_values }}</td>
    <td>{{ gene.identity | fmt_number }}%</td>
    <td>{{ gene.coverage | fmt_number }}%</td>
    <td class="fst-italic fw-lighter">{{ gene.software }}</td>
{% endmacro %}

{% macro resistance_summary_card(resistance, summary=None) %}
<div class="card">
    <div class="card-header">Antimicrobial resistance</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    {% for antib_class in summary %}
                        <th>{{ antib_class | capitalize }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for antibs in zip_longest(*summary.values()) %}
                        <tr>
                            {% for antib in antibs %}
                            <td>
                                {% if antib %}
                                    {{ antib.gene_symbol }}
                                    <span class="badge rounded-pill bg-secondary" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{', '.join(antib.software)}}"
                                    >
                                        {{antib.software | length}}
                                    </span>
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <h5 class="card-title">Predicted genes</h5>
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Gene</td>
                    <td scope="col">Accession</td>
                    <td scope="col">Sequence depth</td>
                    <td scope="col">Identity</td>
                    <td scope="col">Coverage</td>
                    <td scope="col">Software</td>
                </tr>
            </thead>
            <tbody>
                {% for gene_symbol, genes in resistance.genes.items() %}
                    <tr>
                        <td rowspan="{{ genes | length }}">{{gene_symbol}}</td>
                        {{ resistance_summary_row(genes[0]) }}
                    </tr>
                    {% if genes | length > 1 %}
                        {% for gene in genes[1:] %}
                        <tr>
                            {{ resistance_summary_row(gene) }}
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <h5 class="card-title">Predicted mutations</h5>
        {% if resistance.mutations | length == 0 %}
            <p class="fw-light fst-italic">No resistance yeilding mutations identified</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">Gene</td>
                        <td scope="col">Variant</td>
                        <td scope="col">Depth</td>
                        <td scope="col">Software</td>
                    </tr>
                </thead>
                <tbody>
                    {% for gene_symbol, variants in resistance.mutations.items() %}
                        {% for variant in variants %}
                            <tr>
                                <td>{{gene_symbol}}</td>
                                <td>{{variant.name}}</td>
                                <td>{{variant.depth}}</td>
                                <td class="fst-italic fw-lighter">{{variant.ref_database}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro resistance_table_card(resistance, summary=None) %}
<div class="card">
    {% set res=resistance.result%}
    <div class="card-header">{{ resistance.type | camelcase_to_text | capitalize }}</div>
    <div class="card-body">
        <h5 class="card-title">Predicted genes</h5>
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Gene</td>
                    <td scope="col">Name</td>
                    <td scope="col">Class</td>
                    <td scope="col">Accession</td>
                    <td scope="col">Identity</td>
                    <td scope="col">Coverage</td>
                </tr>
            </thead>
            <tbody>
            {% for gene in res.genes %}
            <tr>
                <td>{{ gene.gene_symbol }}</td>
                <td>{{ gene.sequence_name }}</td>
                <td>
                    {% if gene.res_class == gene.res_subclass %}
                        {{ gene.res_subclass | lower | capitalize }}
                    {% else %}
                        {{ gene.res_class | lower | capitalize }} / {{ gene.res_subclass | lower | capitalize }} 
                    {% endif %}
                </td>
                <td>{{ accession_link(gene.accession) }}</td>
                <td>{{ gene.coverage }}</td>
                <td>{{ gene.identity }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <h5 class="card-title">Predicted mutations</h5>
            {% if resistance.mutations | length == 0 %}
                <p class="fw-light fst-italic">No resistance yeilding mutations identified</p>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <td scope="col">Mutation</td>
                            <td scope="col">Change</td>
                            <td scope="col">Type</td>
                            <td scope="col">Gene</td>
                            <td scope="col">Depth</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mut in res.mutations %}
                    <tr>
                        <td>{{ mut.refCodon }}<b>{{ mut.position }}</b>{{ mut.altCodon }}
                            <span class="badge bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" 
                            data-bs-custom-class="custom-tooltip" data-bs-title="{{ ', '.join(mut.phenotypes)}}"
                            >
                                R {{ mut.phenotypes | length }}
                            </span>
                        </td>
                        <td>{{ mut.ref_codon | nt_to_aa }}<i class="bi bi-arrow-right mx-2"></i>{{ mut.altCodon | nt_to_aa }}</td>
                        <td>{{ mut.variant_type }}</td>
                        <td>{{ ", ".join(mut.genes) }}</td>
                        <td>{{ mut.depth }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
    </div>
</div>
{% endmacro %}

{% macro virulence_card(res) %}
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Gene</td>
                    <td scope="col">Type</td>
                    <td scope="col">Description</td>
                    <td scope="col">Identity</td>
                    <td scope="col">Coverage</td>
                </tr>
            </thead>
            <tbody>
            {% for gene in res.genes %}
            <tr>
                <td>{{ gene.gene_symbol }}</td>
                <td class="text-lowercase">{{ gene.element_subtype }}</td>
                <td>{{ gene.sequence_name }}</td>
                <td>{{ gene.coverage }}%</td>
                <td>{{ gene.identity }}%</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro species_prediction_card(predictions) %}
<div class="card">
    <div class="card-header">Species prediction</div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <th>Specie</th>
                <th>Fraction of reads</th>
                <th>N reads</th>
            </thead>
            <tbody>
                {% for pred in predictions %}
                    <tr class="{% if predictions | length > 1 and loop.index == 1 %}table-success{% endif %}">
                        <td> <a class="text-decoration-underline text-dark fst-italic" 
                               href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/{{pred.taxonomy_id}}/" 
                               target="_blank">{{pred.scientific_name}}</a></td>
                        <td>{{ (pred.fraction_total_reads * 100) | fmt_number(2) }}%</td>
                        <td>{{ pred.kraken_assigned_reads | fmt_to_human_readable }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}