{% extends "layout.html" %}
{% from "sidebar.html" import sidebar, table_of_content %}
{% from "cards.html" import sample_header, resistance_card, virulence_card %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('samples.static', filename='sample.css')}}">
{% endblock css %}


{% block content %}
{% set footnotes = [] %}
<div class="container-fluid br-layout">
    {{ sidebar(sample) }}
    <main class="br-main order-1">
        {{ sample_header(sample) }}
        {{ table_of_content() }}
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="card col-sm-12 col-md-auto">
                    <h4>Work in progress...</h4>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock content %}
