{% macro comment_area(sample) %}
<div id="comment-container" class="overflow-auto">
    {% if sample.comments | length > 0 %}
        {% for comment in sample.comments %}
            {% if comment.displayed %}
            <div class="comment-box m-2 p-1 bg-white shadow-sm rounded">
                <form action={{ url_for('samples.hide_comment', sample_id=sample.sample_id, comment_id=comment.id) }} method="POST">
                    <button class="float-end float-top btn btn-sm btn-link text-success" aria-label="Remove" type="submit"><i class="bi bi-trash3"></i></button>
                </form>
                <p class="ps-2 text-sm text-break fw-light">{{ comment.comment }}</p>
                <span class="text-sm text-muted">- {{ comment.username }}, {{ comment.created_at | strftime }}</span>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-muted">No comment</p>
    {% endif %}
</div>
<form class="pb-2"
      action={{ url_for('samples.add_comment', sample_id=sample.sample_id) }} method="post">
    <div class="form-floating mt-4">
        <textarea class="form-control" name="comment" id="comment-box" placeholder="Leave a comment" required></textarea>
        <label class="text-muted" for="comment-box">My comment</label>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-success mt-2"> 
        <i class="bi bi-chat-square-text"></i>
        Add comment
    </button>
</form>
{% endmacro %}

{% macro qc_classification_form_fields(bad_qc_actions, selected_qc_status, selected_action, comment_text) %}
    {#

        Form fields for setting QC status.

        Inputs:
        - bad_qc_actions:       List[str]   List of selectable follow-up actions for failed samples
        - selected_qc_status:   str | None  Sample QC status used for pre-selecting QC checkbox.
        - selected_action:      str | None  Selected follow-up action for failed samples.
        - comment_text:         str | None  Comment text.

    #}
    <fieldset id="qc-form-fields">
        <div class="row">
            <div
                class="btn-group btn-group-sm col-auto pb-1"
                role="group"
                aria-label="Sample qc rejection group">
                <input
                    type="radio" class="btn-check btn-sm" name="qc-validation"
                    id="passed-qc-btn" autocomplete="off" value="passed"
                    {% if selected_qc_status == "passed" %}checked{% endif %}
                >
                <label class="btn btn-outline-success" for="passed-qc-btn"><i class="bi bi-hand-thumbs-up"></i></label>
                <input type="radio" class="btn-check btn-sm" name="qc-validation"
                       id="failed-qc-btn" autocomplete="off" value="failed"
                       {% if selected_qc_status == "failed" %}checked{% endif %}
                >
                <label class="btn btn-outline-danger" for="failed-qc-btn"><i class="bi bi-hand-thumbs-down"></i></label>
            </div>
            <div class="col-auto d-flex flex-row">
                <select
                    id="failed-qc-action"
                    class="form-select form-select-sm"
                    name="qc-action"
                    aria-label="Action on failed sample"
                    {% if selected_qc_status != "failed" %}
                    disabled
                    hidden
                    {% endif  %}
                >
                    <option
                        value=""
                        selected
                        disabled
                    >
                        Select action
                    </option>
                    {% for action in bad_qc_actions %}
                    <option
                        value="{{action}}"
                        {% if selected_action == action %}selected{% endif %}
                    >{{action | capitalize}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="failed-qc-comment-container" class="row" {% if selected_qc_status != "failed" %}hidden{% endif %}>
            <div class="col-auto pb-1">
                <label class="text-muted" for="failed-qc-comment">Comment</label>
                <textarea type="text" class="form-control" name="qc-comment" id="failed-qc-comment"
                >{{comment_text}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <button
                    id="qc-submit-btn"
                    type="submit"
                    class="btn btn-sm btn-outline-secondary"
                    disabled
                >Confirm</button>
            </div>
        </div>
    </fieldset>
{% endmacro %}

{% macro qc_form_controls_js() %}
    {#

       JS enhancements for QC form controls.

        - Reset controls when toggling QC status in QC form
        - Disable/enable form submit btn based on input validation

    #}

    // When passing samples:
    document.getElementById("passed-qc-btn").addEventListener("click", (e) => {
        // Clear QC-fail fields
        const select = document.getElementById("failed-qc-action")
        select.disabled = true
        select.hidden = true
        select.value = "0"
        const textArea = document.getElementById("failed-qc-comment-container")
        textArea.hidden = true
    })

    // When failing samples:
    document.getElementById("failed-qc-btn").addEventListener("click", (e) => {
        // Enable selections of actions to take after rejecting a sample:
        const select = document.getElementById("failed-qc-action")
        select.disabled = false
        select.hidden = false
        const textArea = document.getElementById("failed-qc-comment-container")
        textArea.hidden = false
     })

    //On any change in the form:
    document.getElementById("qc-form-fields").addEventListener("change", (e) => {
        // Force followup action selection when failing samples by disabling submit btn:
        const qc_status = document.querySelector("input[name='qc-validation']:checked").value
        const select = document.getElementById("failed-qc-action")
        const submitButton = document.getElementById("qc-submit-btn")

        if (select.value === '' && qc_status === "failed") {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }
    })

{% endmacro %}


{% macro qc_classification(sample_qc_classification_obj, bad_qc_actions, sample_id) %}
    {#

        Sidebar UI section for setting QC status in sample-view sidebar

        Inputs:
        - qc_classification_obj     SampleQcClassification  Sample QC settings
        - bad_qc_actions:           List[str]               List of selectable follow-up actions for failed samples
        - sample_id:                str                     Current sample id

    #}
    <form
        action="{{ url_for('samples.update_qc_classification', sample_id=sample_id) }}"
        method="post"
        name="qc-classification"
        class="form-control"
    >
        {{ qc_classification_form_fields(
        bad_qc_actions=bad_qc_actions,
        selected_qc_status=sample_qc_classification_obj.status,
        selected_action=sample_qc_classification_obj.action,
        comment_text=sample_qc_classification_obj.comment
        ) }}
    </form>
{% endmacro %}

{% macro report_link(endpoint, name, sample_id) %}
    {% if request.endpoint.endswith(endpoint) %}
        {% set selected="active" %}
    {% else %}
        {% set selected="" %}
    {% endif %}
    <li class="nav-item mb-2 {{ selected }}">
        <a class="link-secondary link-underline-success" 
            href={{ url_for(endpoint, sample_id=sample_id) }}>
            <i class="bi bi-bar-chart"></i>
            {{ name }}
        </a>
    </li>
{% endmacro %}

{% macro sidebar_header(text, class_names="mt-4 mb-1 ") %}
    <h6 class="sidebar-heading text-muted text-uppercase {{class_names}}">{{text}}</h6>
{% endmacro %}

{% macro sidebar(sample, bad_qc_actions, optional_macro=None) %}
<aside class="br-sidebar border-end pe-2">
    <div>
        {{ sidebar_header("Reports")}}
        <ul class="nav flex-column">
            {{ report_link('samples.sample', sample_id=sample.sample_id, name='Summary') }}
            {{ report_link('samples.resistance_variants', sample_id=sample.sample_id, name='Variants') }}
        </ul>

        {{ sidebar_header("Quality control")}}
        {{ qc_classification(sample.qc_status, bad_qc_actions, sample.sample_id) }}

        {# optional specific to certain views #}
        {% if optional_macro %}
            {{ optional_macro() }}
        {% endif %}

        {# comment area #}
        {{ sidebar_header("Comments")}}
        {{ comment_area(sample) }}
    </div>
</aside>
{% endmacro %}


{% macro table_of_content() %}
<div class="br-toc y-lg-0 px-sm-1 text-body-secondary">
    <h6 class="sidebar-heading d-none d-md-block h6 my-2 ms-3 text-muted text-uppercase">On this page</h6>
    <hr class="d-none d-md-block my-2 ms-3">
    <div id="toc-contents" class="collapse d-md-block">
        <ul class="nav nav-flush flex-column mb-auto text-left">
            <li class="nav-item">
                <a class="nav-link" href="#sample-id-heading">ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#epi-typing-heading">Typing</a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="#virulence-heading">Virulence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#qc-heading">QC</a>
            </li>
        </nav>
    </div>
</div>
{% endmacro %}
