{% extends "layout.html" %}
{% import "cell_fmt.html" as cell_format %}
{% from "shared.html" import search_similar_btn, search_similar_js, add_to_basket_btn, add_to_basket_js %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('groups.static', filename='group.css') }}">
{% endblock css %}

{% block content %}
<div class="card bg-white mt-4 w-75 position-absolute translate-middle-x start-50">
    <div class="card-body">
        <h4 class="card-title me-auto fw-light">{{group_name}}</h4>
        <hr class="mt-2 col-md-2 border border-success border-2">
        {# <p class="card-text mb-2">feugiat vivamus at augue eget arcu dictum varius duis at consectetur lorem</p> #}
        <table class="table table-sm w-auto">
            <thead><tr><th>Samples</th><th>Updated</th></tr></thead>
            <tbody>
                <tr><td>{{ samples | length }}</td><td>{{ modified | strftime }}</td></tr>
            </tbody>
        </table>
        <nav class="navbar bg-light">
            <div class="container-fluid justify-content-start">
                <span class="navbar-text">
                    <i>Selected samples:</i>
                    <span id="n-selected-samples-counter">0</span>
                </span>
                {{ add_to_basket_btn() }}
                {{ search_similar_btn() }}
                <form id="sampleForm" class="execute-form" method="POST" action="{{ url_for('cluster.tree') }}">
                    <input type="hidden" id="cluster-typing-data" name="typing-data" value="cgmlst">
                    <input type="hidden" id="cluster-distance-metric" name="distance-metric" value="jaccard">
                    <input type="hidden" id="cluster-clustering-method" name="clustering-method" value="neighbor_joining">
                    <button id="cluster-button" class="btn btn-sm btn-outline-success ms-2"
                            disabled>
                        <span class="content">
                            <i class="bi bi-diagram-3-fill"></i>
                            Cluster
                        </span>
                        <span class="loading align-middle d-none">
                            <span class="spinner-grow text-light spinner-grow-sm" role="status"></span>
                            Loading...
                        </span>
                    </button>
                </form>
            </div>
        </nav>
        <div id="data-table"></div>
    </div>
</div>
<form id="open-tree-form" action="{{ url_for('cluster.tree') }}" method="POST" hidden target="_blank">
    <input type="text" name="newick" id="newick-content">
    <input type="text" name="typing_data" id="typing-data-content">
    <input type="text" name="metadata" id="metadata-content">
    <input type="submit" value="">
</form>
<script type="module">
    import { w2grid, w2utils } from 'https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.es6.min.js'
    import { JSONPath } from '{{ url_for("groups.static", filename="index-browser-esm.min.js") }}';
    import { formatTaxonomicName, formatSampleId } from '{{ url_for("groups.static", filename="sampleTable.js") }}';

    // define formatters
    w2utils.formatters['taxonomic_name'] = formatTaxonomicName
    w2utils.formatters['mrsa'] = (val, params) => typeof val === 'undefined' ? '-' : val
    w2utils.formatters['mlst'] = (val, params) => typeof val === 'undefined' ? '-' : val
    w2utils.formatters['pvl'] = (val, params) => typeof val === 'undefined' ? '-' : val
    w2utils.formatters['sampleid']  = (val, data) => {
        const baseUrl = {{ request.script_root|tojson }}
        let element = document.createElement('a')
        let path = data.groupId ? `samples/${val}?group_id=${data.groupId}` : `samples/${val}`
        element.setAttribute('href', `${baseUrl}/${path}`)
        element.innerText = val
        return element.outerHTML
    }

    // get table configuration
    const apiTableConfig = {{ table_definition | tojson }}
    const groupId = "{{ group_id }}"
    // create table
    const columns = apiTableConfig.map(col => {
        return {
            field: col.type,
            text: col.label,
            sortable: col.sortable,
            hidden: col.hidden,
            render: col.type.toLowerCase(),
        }
    })
    // configure table
    let tableConfig = {
        grid: {
            name: 'grid',
            box: '#data-table',
            show: {
                footer: false,
                toolbar: true,
                selectColumn: true,
            },
            multiSelect: true,
            liveSearch: true,
            columns: columns,
            async onSelect(event) {
                await event.complete
                document.getElementById("cluster-button").disabled = 2 > this.getSelection().length
                document.getElementById("add-to-basket-btn").disabled = 1 > this.getSelection().length
                document.getElementById("n-selected-samples-counter").innerText = this.getSelection().length
                sessionStorage.setItem("selectedSamples", JSON.stringify(this.getSelection()));
            }
        },
    }
    // setup grid
    let grid = new w2grid(tableConfig.grid)

    // get data
    const testSamples = {{ samples | tojson}}
    grid.records = testSamples.map(
        sample => {
            let columns = apiTableConfig.reduce((acc, col) => ({...acc, [col.type]: JSONPath({path: col.path, json: sample})[0]}), {}) 
            columns["recid"] = sample["sample_id"]
            columns["groupId"] = groupId
            return columns
    }) 

    window.getSelectedRows = () => grid.getSelection()
    grid.render()
</script>
<script>
    const apiURL = "{{ config.BONSAI_API_URL }}"
    // template code for adding to basket
    {{ add_to_basket_js() }}
    // template code for searching similar samples
    {{ search_similar_js() }}
</script>
<script>
    // store url to tree page
    const treeViewUrl = `${document.location.host}{{url_for('cluster.tree')}}`
    const orgButtonText = document.getElementById("cluster-button").innerText

    // load all javascript after load
    const clusterButtonError = () => {
        // Disable clustering buttin on case of an error
        const button = document.getElementById("cluster-button")
        hideSpinner(button)
    }

    async function openTreeView ({newick, typingData}) {
        // Open a tree view as a new tab my creating a form and submit it
        const form = document.getElementById("open-tree-form")
        // add metadata and newick file to form
        const newickInput = form.querySelector("#newick-content")
        newickInput.setAttribute("value", newick)
        const metadataInput = form.querySelector("#metadata-content")
        const typingDataInput = form.querySelector("#typing-data-content")
        typingDataInput.setAttribute("value", typingData)
        metadataInput.setAttribute("value", 
            window.sessionStorage.getItem("clusteredSamples")
        )
        const submitBnt = form.querySelector("input[type=submit]")
        submitBnt.click()
    }

    // add submit clustering function
    document
    .getElementById("cluster-button")
    .addEventListener("click", (event) => {
        event.preventDefault()  // prevent normal behaviour
        // show spinner
        const button = document.getElementById("cluster-button")
        showSpinner(button)
        
        // get sample ids for checked samples
        const sampleId = window.getSelectedRows()
        const distance = document.getElementById("cluster-distance-metric").value
        // if there are more than 1k samples use minhash instead of cgmlst
        //const typingData = sampleId.length > 1000 ? "minhash" : document.getElementById("cluster-typing-data").value
        const typingData = "minhash"
        // minhash doesnt support neigbour joining
        const method = typingData === "minhash" ? "single" : document.getElementById("cluster-clustering-method").value
        // setup and submit clustering job
        const xhr = new XMLHttpRequest()
        const entrypointURL = `${apiURL}/cluster/${typingData}`
        // add event listeners for processing different outcomes of request
        xhr.addEventListener("load", event => {
            // successful request
            if(xhr.readyState == 4 && xhr.status == 201) {
                // instead open a new tab by mocking a submission
                const jobId = JSON.parse(xhr.responseText)
                try {
                    (async () => {
                        // start polling for cluster results
                        let newick = await poll(
                            async () => fetchJobStatus(jobId.id),  // GET job status
                            validateJobStatus,  // validator
                            resultParser,       // parse results
                            3000                // interval time
                        )
                        // open grape tree
                        openTreeView({newick: newick, typingData: typingData})
                        hideSpinner(button)
                    })()
                } catch (error) {
                    throwSmallErrorToast(error, "error")
                }
            } else {
                clusterButtonError()
                throwSmallErrorToast(xhr.responseText)
                console.log(xhr)
            }
        })

        xhr.addEventListener("abort", event => {
            // failed request disable button and warn user
            alert("clustering was aborted")
        })

        xhr.addEventListener("error", event => {
            // failed request disable button and warn user
            clusterButtonError()
            throwSmallErrorToast(xhr.responseText)
        })

        // make request
        xhr.open("POST", entrypointURL, true)
        // set request token header
        xhr.setRequestHeader("Authorization", `Bearer ${localStorage.getItem("token")}`)
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", '*')
        window.sessionStorage.setItem("clusteredSamples", JSON.stringify({sample_id: sampleId}))
        xhr.send(JSON.stringify({"sample_ids": sampleId, "method": method, "distance": distance}))
    })

</script>
{% endblock content %}

