{% macro add_to_basket_btn() %}
<button id="add-to-basket-btn" class="btn btn-sm btn-outline-success ms-4" 
        onclick="addSelectedSamplesToBasket(this)" disabled>
    <i class="bi bi-plus-lg"></i>
    <span>Add to basket</span>
</button>
{% endmacro %}

{% macro add_to_basket_js() %}
function addSelectedSamplesToBasket(btn) {
    // add selected samples from table to session storage
    const body = {
        selectedSamples: JSON.parse(sessionStorage.getItem("selectedSamples"))
    }
    const baseUrl = {{ request.script_root|tojson }}
    fetch(`${baseUrl}/api/basket/add`, {
        method: "POST",
        body: JSON.stringify(body),
        headers: {
            'Accept': 'application/json', 
            'Content-Type': 'application/json' 
        },
        credentials: 'same-origin'
    }).then(response => {location.reload()})
}
{% endmacro %}

{% macro search_similar_btn() %}
<div id="find-similar-dropdown" class="dropdown">
    <button id="select-similar-samples-btn" 
            class="btn btn-sm btn-outline-secondary dropdown-toggle ms-4" 
            data-bs-toggle="dropdown" disabled>
        <span class="content">
            <i class="bi bi-search"></i>
            <span>Find similar</span>
        </span>
        <span class="loading align-middle d-none">
            <span class="spinner-grow text-success spinner-grow-sm" role="status"></span>
            Loading...
        </span>
    </button>
    <form class="dropdown-menu dropdown-menu-end p-2 needs-validation">
        <input type="text" name="similar-samples-limit" 
                id="similar-samples-limit" class="form-control form-control-sm" 
                placeholder="Number of samples" value="50" required>
        <input type="text" name="similar-samples-threshold" 
                id="similar-samples-threshold" class="form-control form-control-sm mt-2" 
                placeholder="Min similarity" value="0.95" required>
        <button type="button" id="similar-samples-button" class="btn btn-sm btn-outline-success mt-2"
                onclick="getSimilarSamplesAndCheckRows(this)">
            <i class="bi bi-search"></i>
            Search
        </button>
    </form>
</div>
{% endmacro %}

{% macro search_similar_js() %}
async function getSimilarSamples() {
    const sampleId=window.getSelectedRows()[0]
    const limit=document.getElementById("similar-samples-limit").value
    const similarity=document.getElementById("similar-samples-threshold").value
    const baseUrl = {{ request.script_root|tojson }}
    try {
        const response = await fetch(`${baseUrl}/samples/${sampleId}/similar`, {
            method: "POST",
            body: JSON.stringify({limit: limit, similarity: similarity}),
            headers: {
                'Accept': 'application/json', 
                'Content-Type': 'application/json' 
            },
            credentials: 'same-origin'
        })
        const jsonData = await response.json()
        if ( !response.ok ) {
            console.log(`Error while finding similar samples: ${jsonData.details}`)
            return false
        } else {
            return jsonData
        }
    } catch ( error ) {
        console.error("Error:", error)
        return false
    }
}

async function getSimilarSamplesAndCheckRows(btn) {
    const parentElem = btn.parentElement.parentElement
    showSpinner(parentElem)
    getSimilarSamples().then( async (job) => {
        if ( job ) {
            try {
                let result = await poll(
                    async () => fetchJobStatus(job.id),  // function to get job status
                    validateJobStatus,  // validator
                    resultParser,       // parse results
                    3000                // interval time
                )
                window.action('select', result.map(sample => sample.sample_id))
                hideSpinner(parentElem)
            } catch (err) {
                throwSmallToast("Error while finding similar samples")
                hideSpinner(parentElem)
            }
        } else {
            throwSmallToast("Error while finding similar samples")
            hideSpinner(parentElem)
        }
    })
}

document.getElementById("similar-samples-threshold").addEventListener("input", (thresholdElem) => {
    const thresholdValue = thresholdElem.data
    document.getElementById("similar-samples-button").disabled = isNaN(parseInt(thresholdValue))
});
{% endmacro %}

{% macro qc_bulk_toggle(bad_qc_actions) %}
    {#

        Button interacting with sample list in groups. Activates pop up dialog when used.

        Inputs:
            - bad_qc_actions : List[str]    List of selectable follow-up actions for failed samples

    #}
    <div id="find-similar-dropdown" class="dropdown">
        <button
            id="toggle-qc-btn"
            class="btn btn-sm btn-outline-secondary dropdown-toggle ms-4"
            data-bs-toggle="dropdown" data-bs-auto-close="outside" enabled>
        Toggle QC
        </button>
        <form class="dropdown-menu dropdown-menu-end p-2 needs-validation" action="{{ url_for('samples.update_qc_classification', sample_id=sample_id) }}" method="post">
            <span class="btn-group btn-group-sm col-auto" role="group" aria-label="Sample qc rejection group">
                <label class="btn btn-outline-success" for="passed-qc-btn"><i class="bi bi-hand-thumbs-up"></i></label>
                <input
                    type="radio"
                    class="btn-check btn-sm"
                    name="qc-validation"
                    id="passed-qc-btn"
                    autocomplete="off"
                    value="passed"
                >
                <label class="btn btn-outline-danger" for="failed-qc-btn"><i class="bi bi-hand-thumbs-down"></i></label>
                <input
                    type="radio"
                    class="btn-check btn-sm"
                    name="qc-validation"
                    id="failed-qc-btn"
                    autocomplete="off"
                    value="failed"
                >
            </span>
            <fieldset id="failed-qc-controls">
                <div class="row pb-2">
                    <div class="col-auto d-flex flex-row">
                        <select
                            id="failed-qc-action"
                            class="form-select form-select-sm"
                            name="qc-action"
                            aria-label="Action on failed sample"
                            disabled
                            hidden
                        >
                            <option selected disabled>Select action</option>
                            {% for action in bad_qc_actions %}
                            <option value="{{action}}">{{action | capitalize}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="failed-qc-comment-container" class="row">
                    <div id="" class="col-auto">
                        <label class="text-muted" for="failed-qc-comment">Comment</label>
                        <textarea
                            type="text"
                            class="form-control"
                            name="qc-comment"
                            id="failed-qc-comment"
                        ></textarea>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-sm btn-outline-secondary mt-2">Confirm</button>
                </div>
            </div>
        </form>
    </div>
    <script>
     // QC Dropdown event listeners
     document.getElementById("passed-qc-btn").addEventListener("click", (e) => {
        // disable selection of actions to take after passing a sample
         e.stopPropagation();
        const select = document.getElementById("failed-qc-action")
        select.disabled = true
        select.hidden = true
        select.value = null
        const textArea = document.getElementById("failed-qc-comment-container")
        textArea.hidden = true
        select.value = null
    })
     document.getElementById("failed-qc-btn").addEventListener("click", (e) => {
        // enable selections of actions to take after rejecting a sample
        const select = document.getElementById("failed-qc-action")
        select.disabled = false
        select.hidden = false
        document.getElementById("failed-qc-comment-container").hidden = false
    })
    </script>
{% endmacro %}
