{% extends "layout.html" %}
{% from "sidebar.html" import sidebar %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('samples.static', filename='sample.css')}}">
{% endblock css %}

{% macro make_db_link(db) %}
{% if db.name == 'resfinder' %}
    {% set base_url="bitbucket.org/genomicepidemiology/resfinder_db/commits" %}
{% elif db.name == 'virulencefinder' %}
    {% set base_url="bitbucket.org/genomicepidemiology/virulencefinder_db/commits" %}
{% elif db.name == 'pointfinder' %}
    {% set base_url="bitbucket.org/genomicepidemiology/pointfinder_db/commits" %}
{% endif %}
<a href="https://{{base_url}}/{{db.version}}" target="_blank">{{ db.version[:6] }}</a>
{% endmacro %}

{% macro analysis_meta(sample_info) %}
<h4>Analysis metadata</h4>
<h5>
    <a href="https://github.com/genomic-medicine-sweden/JASEN" target="_blank">
        <i class="bi me-2 bi-pc-horizontal"></i></a>
        Pipeline
    </a>
</h5>
{% set meta=sample["runMetadata"]%}
<dl class="row">
    <dt class="col-sm-2">Pipeline</dt>
    <dd class="col-sm-2">{{ meta.run.pipeline }}</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">Version</dt>
    <dd class="col-sm-2">{{ meta.run.version }}</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">Profile</dt>
    <dd class="col-sm-2">{{ meta.run.analysisProfile }}</dd>
</dl>
<h5><i class="bi bi-server me-2"></i>Databases</h5>
<dl class="row">
    {% for db in meta["databases"] %}
    <dt class="col-sm-2">{{ db["name"] }}</dt>
    <dd class="col-sm-2">{{ make_db_link(db) }}</dd>
    {% endfor %}
</dl>
{% endmacro %}

{% macro mlst_card(mlst) %}
<div class="card col-md-auto">
    <div class="card-header">MLST</div>
    <div class="card-body">
        <div class="p-2">
            <strong>ST</strong>
            {{ mlst.sequenceType }}
        </div>
        <div class="p-2">
            <table class="table table-sm">
                <thead>
                    <th>Gene</th>
                    {% for name in mlst.alleles %}
                        <td scope="col">{{name}}</td>
                    {% endfor %}
                </thead>
                <tbody class="table-group-divider">
                    <th>Allele No</th>
                    {% for value in mlst.alleles.values() %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro resistance_card(result) %}
<div class="card">
    {% set res=result.result%}
    <div class="card-header">{{ result.type | camelcase_to_text | capitalize }}</div>
    <div class="card-body">
        <h5 class="card-title">Predicted phenotype</h5>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                {% set groups = res.phenotypes.resistant | groupby_antib_class %}
                <thead>
                    {% for antib_class in groups %}
                        <th>{{ antib_class | capitalize }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for antibs in zip_longest(*groups.values()) %}
                        <tr>
                            {% for antib in antibs %}
                            <td>
                                {% if antib %}
                                {{ antib | capitalize }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <h5 class="card-title">Predicted genes</h5>
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Gene</td>
                    <td scope="col">Accession</td>
                    <td scope="col">Sequence depth</td>
                    <td scope="col">Identity</td>
                    <td scope="col">Coverage</td>
                </tr>
            </thead>
            <tbody>
            {% for gene in res.genes %}
            <tr>
                <td>{{ gene.name }}
                    <span class="badge bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" 
                    data-bs-custom-class="custom-tooltip" data-bs-title="{{ ', '.join(gene.phenotypes)}}"
                    >
                        R {{ gene.phenotypes | length }}
                    </span>
                </td>
                <td>{{ gene.accession }}</td>
                <td>{{ gene.depth }}</td>
                <td>{{ gene.coverage }}</td>
                <td>{{ gene.identity }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro virulence_card(res) %}
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Gene</td>
                    <td scope="col">Identity</td>
                    <td scope="col">Coverage</td>
                </tr>
            </thead>
            <tbody>
            {% for gene in res.genes %}
            <tr>
                <td>{{ gene.name }}</td>
                <td>{{ gene.coverage }}</td>
                <td>{{ gene.identity }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro qc_card(qc_info) %}
<div class="col-md-auto">
    <div class="card">
        <div class="card-header">
            {{qc_info.tool | capitalize }}
            {% if qc_info.version %}
                <span>{{qc_info.version}}</span>
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th scope="col">Metric</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for name, value in qc_info.result.items() %}
                <tr>
                    <th scope="row">{{ name | camelcase_to_text | capitalize }}</th>
                    <td>{{ value | fmt_number }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro cgmlst_qc_card(result) %}
<div class="card">
    <div class="card-header">
        {{ result.type }} QC
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <tr>
                <th scope="row">N Called Alleles</th>
                <td>{{ result.result.alleles | cgmlst_count_called }}</td>
            </tr>
            <tr>
                <th scope="row">N Novel Alleles</th>
                <td>{{ result.result.nNovel | fmt_number }}</td>
            </tr>
            <tr>
                <th scope="row">N Missing Alleles</th>
                <td>{{ result.result.alleles | cgmlst_count_missing }}</td>
            </tr>
        </table>
    </div>
</div>
{% endmacro %}

{% block content %}
{% set footnotes = [] %}
<div class="container-fluid">
    <div class="row">
        {{ sidebar(sample) }}
        <div class="col-md-9 ms-sm-auto col-lg-10 bg-white px-md-4 container" data-bs-spy="scroll" data-bs-target="#sidebar">
            <div id="sample-id-heading" class="pt-4">
                <h1>{{sample.sampleId}}</h1>
                <dl class="row gx-5>
                    <dt class="col-xs">Analysis date</dt>
                    <dd class="col-xs">{{sample["createdAt"] | strftime}}</dd>
                </dl>
            </div>
            <h4>Epidemiological Typing</h4>
            <hr>
            <div id="epi-typing-heading" class="row justify-content-md-center">
            {% for res in sample.typingResult %}
                {% if res.type == "mlst" %}
                    <div class="col-md-auto">
                    {{ mlst_card(res.result) }}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            <h4>Phenotype prediction</h4>
            <hr>
            <div id="phenotype-heading" class="row justify-content-md-center">
            {% for res in sample.phenotypeResult %}
                {% if res.type == "antimicrobial_resistance" %}
                    {% set n_res=res.result.phenotypes.resistant | length %}
                    {% if is_filtered and n_res == 0 %}
                        <p>No predicted resistance to validated phenotypes. Use the extended resistance report to see all predicted resistance.</p>
                    {% elif n_res == 0 %}
                        <p>No predicted resistance determinants.</p>
                    {% else %}
                        <div class="col-md-auto">
                        {{ resistance_card(res) }}
                        </div>
                    {% endif %}
                    {% do footnotes.append( res | get_all_phenotypes ) %}
                {% endif %}
            {% endfor %}
            </div>
            <h4>Virulence</h4>
            <hr>
            <div id="virulence-heading" class="row justify-content-md-center">
            {% for res in sample.phenotypeResult %}
                {% if res.type == "virulence" %}
                    {% set n_genes=res.result.genes | length %}
                    {% if is_filtered and n_genes == 0 %}
                        <p>No validated virulence factors identified. Use the extended virulence report to see all predicted resistance.</p>
                    {% elif n_genes == 0 %}
                        <p>No validated virulence factors identified.</p>
                    {% else %}
                    <div class="col-md-6">
                    {{ virulence_card(res.result) }}
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
            <h4>Quality</h4>
            <hr>
            <div id="qc-heading" class="row gx-5 justify-content-md-center">
                {% for qc_tool in sample.qc %}
                    <div class="col-md-auto">
                    {{ qc_card(qc_tool) }}
                    </div>
                {% endfor %}

                {% for res in sample.typingResult %}
                    {% if res.type == "cgmlst" %}
                        <div class="col-md-auto">
                        {{ cgmlst_qc_card(res) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            {{ analysis_meta(sample) }}
            <hr>
            <h4>References</h4>
            <ol class="fs-6 text-muted">
                <li>A reference</li>
                <li>Another reference</li>
            </ol>
            <h4>Footnotes</h4>
            <ol class="fs-6 text-muted">
                {% for note in footnotes %}
                    <li>{{note}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    function removeComment(btn) {
        // remove comment from sample
        const apiURL = "{{ config.MIMER_API_URL }}"
        fetch(`${apiURL}/samples/basket/add`, {

        }).then(response => {
            btn.parentElement.remove()
        })
    }
</script>
{% endblock content %}
