{% macro comment_area(sample) %}
<div id="comment-container" class="overflow-auto">
    {% if sample.comments | length > 0 %}
        {% for comment in sample.comments %}
            {% if comment.displayed %}
            <div class="comment-box m-2 p-1 bg-white shadow-sm rounded">
                <form action={{ url_for('samples.hide_comment', sample_id=sample.sample_id, comment_id=comment.id) }} method="POST">
                    <button class="float-end float-top btn btn-sm btn-link" aria-label="Remove" type="submit"><i class="bi bi-trash3"></i></button>
                </form>
                <p class="ps-2 text-sm text-break fw-light">{{ comment.comment }}</p>
                <span class="text-sm text-muted">- {{ comment.username }}, {{ comment.created_at | strftime }}</span>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-muted">No comment</p>
    {% endif %}
</div>
<form action={{ url_for('samples.add_comment', sample_id=sample.sample_id) }} method="post">
    <div class="form-floating mt-4">
        <textarea class="form-control" name="comment" id="comment-box" placeholder="Leave a comment" required></textarea>
        <label class="text-muted" for="comment-box">My comment</label>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-success mt-2"> 
        <i class="bi bi-chat-square-text"></i>
        Add comment
    </button>
</form>
{% endmacro %}


{% macro qc_classificaion(cls, bad_qc_actions, sample_id) %}
<h6 class="sidebar-heading mt-4 mb-1 text-muted text-uppercase">Quality control</h6>
<form action="{{ url_for('samples.update_qc_classification', sample_id=sample_id) }}" 
      method="post" name="qc-classification" class="form-control">
    <div class="row pb-2">
        <div class="btn-group btn-group-sm col-auto" role="group" aria-label="Sample qc rejection group">
            <input 
                type="radio" class="btn-check btn-sm" name="qc-validation" 
                id="passed-qc-btn" autocomplete="off" value="passed"
                {% if cls.status == "passed" %}checked{% endif  %}
            >
            <label class="btn btn-outline-success" for="passed-qc-btn"><i class="bi bi-hand-thumbs-up"></i></label>
            <input type="radio" class="btn-check btn-sm" name="qc-validation"
                id="failed-qc-btn" autocomplete="off" value="failed"
                {% if cls.status == "failed" %}checked{% endif  %}
            >
            <label class="btn btn-outline-danger" for="failed-qc-btn"><i class="bi bi-hand-thumbs-down"></i></label>
        </div>
        <div class="col-auto d-flex flex-row">
            <select id="failed-qc-action" class="form-select form-select-sm" 
                    name="qc-action" aria-label="Action on failed sample" disabled hidden>
                <option selected disabled>Select action</option>
                {% for action in bad_qc_actions %}
                    <option 
                        value="{{action}}"
                        {% if cls.action == action %}selected{% endif %}
                    >{{action | capitalize}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="failed-qc-comment-container" class="row" {% if cls.status != "failed" %}hidden{% endif %}>
        <div id="" class="col-auto">
            <label class="text-muted" for="failed-qc-comment">Comment</label>
            <textarea type="text" class="form-control" name="qc-comment" id="failed-qc-comment"
            >{{cls.comment}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-outline-secondary mt-2">Confirm</button>
        </div>
    </div>
</form>
{% endmacro %}

{% macro sidebar(sample, bad_qc_actions) %}
<div id="sidebar" 
     class="shadow vh-100 col-md-3 col-lg-2 bg-ligth sticky-top sidebar">
    <h6 class="sidebar-heading mt-4 mb-1 text-muted text-uppercase">Extended Reports</h6>
    <ul class="nav flex-column">
        <li class="nav-item mb-2" disabled>
            <a class="link-secondary link-underline-success" href="#">
                <i class="bi bi-bar-chart"></i>
                Outbreak
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="link-secondary link-underline-success" href={{ url_for('samples.resistance_report', sample_id=sample.sample_id) }}>
                <i class="bi bi-bar-chart"></i>
                Resistance
            </a>
        </li>
    </ul>

    {{ qc_classificaion(sample.qc_status, bad_qc_actions, sample.sample_id) }}
    <h6 class="sidebar-heading mt-4 mb-1 text-muted text-uppercase">Comments</h6>
    {{ comment_area(sample) }}
</div>
{% endmacro %}


{% macro table_of_content() %}
<div class="toc mt-3 my-lg-0 px-sm-1 text-body-secondary">
    <button class="btn btn-sm btn-outline-success text-decoration-none d-block d-md-none" 
            type="button" data-bs-toggle="collapse" data-bs-target="#toc-contents" 
            aria-expanded="false" aria-controls="toc-contents">
            <i class="bi bi-list"></i>
            <span class="text-uppercase">On this page</span>
            
    </button>
    <h6 class="sidebar-heading d-none d-md-block h6 my-2 ms-3 text-muted text-uppercase">On this page</h6>
    <hr class="d-none d-md-block my-2 ms-3">
    <div id="toc-contents" class="collapse d-md-block">
        <ul class="nav nav-flush flex-column mb-auto text-left">
            <li class="nav-item">
                <a class="nav-link" href="#sample-id-heading">ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#epi-typing-heading">Typing</a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="#virulence-heading">Virulence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#qc-heading">QC</a>
            </li>
        </nav>
    </div>
</div>
{% endmacro %}