.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

.group-panel {
    width: 16rem;
    text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;
    cursor:pointer;
    color:#666666;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.group-panel-img { height: 12rem; }
