{% extends "layout.html" %}
{% import "cell_fmt.html" as cell_format %}

{% block content %}
<div class="card bg-white mt-4 w-75 position-absolute translate-middle-x start-50">
    <div class="card-body">
        <div class="d-flex">
            <h1 class="me-auto">Group {{group_id}}</h1><input type="submit" form="sampleForm" class="btn btn-primary ms-auto" value="Submit" />
        </div>
        <hr>
        <form id="sampleForm" class="execute-form" method="POST" action="{{ url_for('cluster.cgmlst') }}">
            <button id="cluster-button" class="btn btn-success" disabled="disabled">
                <span id="cluster-btn-spinner" hidden class="spinner-grow spinner-grow-sm"></span>
                <span id="cluster-btn-text">Cluster samples</span>
            </button>
            <table id="dataTable" class="table table-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllSamples"  name="selectAll"></th>
                        <th>{{table_definition[0]['label']}}</th>
                        <th>{{table_definition[1]['label']}}</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    {% for sample in samples %}
                    <tr>
                        <td><input type="checkbox" id="sampleCheckboxes" name="samples" value="{{sample.sampleId}}"></td>
                        <td><a href="{{ url_for('samples.sample', sample_id=sample.sampleId) }}">{{sample.sampleId}}</a></td>
                        <td>-</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    var checkItAll = document.getElementById('selectAllSamples');
    var inputs = document.querySelectorAll('[id=sampleCheckboxes]');
    checkItAll.addEventListener('change', function() {
            if (checkItAll.checked) {
            inputs.forEach(function(input) {
                input.checked = true;
                });
            } else {
            inputs.forEach(function(input) {
                input.checked = false;
                });
            }
        });

        // enable cluster box when at least one samples has been selected
        document
        .getElementById("dataTable")
        .addEventListener("change", (event) => {
            const btn = document.getElementById("cluster-button")
            if (checkboxes.some((checkbox) => checkbox.checked)) {
                btn.disabled = false
            } else {
                btn.disabled = true
            }
        });

        // add submit clustering function
        document
        .getElementById("cluster-button")
        .addEventListener("click", (event) => {
            event.preventDefault()  // prevent normal behaviour
            // show spinner
            event.target.innerText = "Clustering..."
            event.target.parentElement.querySelector("#cluster-btn-spinner").hidden = false
            // get sample ids for checked samples
            // submit clustering job
            // profit?
        })
    })
</script>
{% endblock content %}

