{% extends "layout.html" %}
{% import "cell_fmt.html" as cell_format %}
{% from "toasts.html" import generic_alert_toast%}

{% block content %}
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        {{ generic_alert_toast("cluster-toast") }}
    </div>
</div>
<div class="card bg-white mt-4 w-75 position-absolute translate-middle-x start-50">
    <div class="card-body">
        <div class="d-flex">
            <h1 class="me-auto">Group {{group_id}}</h1>
        </div>
        <hr>
        <form id="sampleForm" class="execute-form" method="POST" action="{{ url_for('cluster.tree') }}">
            <input type="hidden" id="cluster-typing-data" name="typing-data" value="cgmlst">
            <input type="hidden" id="cluster-distance-metric" name="distance-metric" value="jaccard">
            <input type="hidden" id="cluster-clustering-method" name="clustering-method" value="neighbor_joining">
            <button id="cluster-button" class="btn btn-success" disabled="disabled">
                <span id="cluster-btn-spinner" hidden class="spinner-grow spinner-grow-sm"></span>
                <span id="cluster-btn-text">Cluster samples</span>
            </button>
            <table id="data-table" class="table table-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all-samples"  name="selectAll"></th>
                        {% for column in table_definition %}
                        <th>{{ column.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="data-table-body" class="table-hover">
                    {% for sample in samples %}
                    <tr>
                        <td><input type="checkbox" id="{{sample.sampleId}}" class="sample-checkbox" name="samples" value="{{sample.sampleId}}"></td>
                        {% for column in table_definition %}
                            {% set macro_name = 'render_' + column.type %}
                            <th>
                                {{ cell_format[macro_name](sample | json_path(column.path)) }}
                            </th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
<form id="open-tree-form" action="{{url_for('cluster.tree')}}" method="post" hidden target="_blank">
    <input type="text" name="newick" id="newick-content">
    <input type="text" name="metadata" id="metadata-content">
    <input type="submit" value="">
</form>

<script>
    // store url to tree page
    const treeViewUrl = `${document.location.host}{{url_for('cluster.tree')}}`
    // load all javascript after load
    window.onload = () => {
    // initialize toasts
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(toastEl => {
        return new bootstrap.Toast(toastEl)
    })

    // setup code for checkboxes
    const orgButtonText = document.getElementById("cluster-button").innerText
    const checkItAll = document.getElementById('select-all-samples');
    const sampleCheckboxes = document.querySelectorAll('[class=sample-checkbox]');
    checkItAll.addEventListener('change', () => {
        if (checkItAll.checked) {
            sampleCheckboxes.forEach(input => {
                input.checked = true;
                });
        } else {
            sampleCheckboxes.forEach(input => {
                input.checked = false;
                });
            }
        });

    // enable cluster box when at least one samples has been selected
    document.getElementById("data-table-body").addEventListener("change", (event) => {
        const btn = document.getElementById("cluster-button")
        // check if at least two checkboxes are checked
        if (Array.from(sampleCheckboxes).filter(checkbox => checkbox.checked).length > 1) {
            btn.disabled = false
        } else {
            btn.disabled = true
        }
    });

    const clusterButtonError = () => {
        // Disable clustering buttin on case of an error
        const button = document.getElementById("cluster-button")
        button.querySelector("#cluster-btn-text").innerText = orgButtonText
        const spinner = button.querySelector("#cluster-btn-spinner")
        spinner.hidden = true
        button.disabled = true
        button.className = "btn btn-danger"
        button.innerHTML = '<i class="bi bi-exclamation-triangle"></i>' + button.innerHTML
    }

    const throwClusterErrorToast = (resp) => {
        const toastElement = document.getElementById("cluster-toast")
        const toast = bootstrap.Toast.getInstance(toastElement)
        const title = toast._element.querySelector('#toast-title')
        const errorMessage = toast._element.querySelector('#toast-error-message')
        const stacktraceMessage = toast._element.querySelector('#toast-stack-trace')
        // define title
        title.innerText = `Error during clustering, status ${resp.status}`
        errorMessage.innerText = resp.responseText
        stacktraceMessage.innerText = ""
        toast.show()
    }

    function openTreeView ({newick, metadata}) {
        // Open a tree view as a new tab my creating a form and submit it
        const form = document.getElementById("open-tree-form")
        // add metadata and newick file to form
        const newickInput = form.querySelector("#newick-content")
        newickInput.setAttribute("value", newick)
        const metadataInput = form.querySelector("#metadata-content")
        metadataInput.setAttribute("value", 
            window.sessionStorage.getItem("clusteredSamples")
        )
        const submitBnt = form.querySelector("input[type=submit]")
        submitBnt.click()
    }

    // add submit clustering function
    document
    .getElementById("cluster-button")
    .addEventListener("click", (event) => {
        event.preventDefault()  // prevent normal behaviour
        // show spinner
        const button = document.getElementById("cluster-button")
        button.querySelector("#cluster-btn-text").innerText = "Clustering..."
        const spinner = button.querySelector("#cluster-btn-spinner")
        spinner.hidden = false
        // get sample ids for checked samples
        const sampleId = Array.from(sampleCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.id)
        const typingData = document.getElementById("cluster-typing-data").value
        const distance = document.getElementById("cluster-distance-metric").value
        const method = document.getElementById("cluster-clustering-method").value
        // setup and submit clustering job
        const xhr = new XMLHttpRequest()
        const apiURL = "{{ config.BONSAI_API_URL }}"
        const entrypointURL = `${apiURL}/cluster/${typingData}`
        // add event listeners for processing different outcomes of request
        xhr.addEventListener("load", event => {
            // successful request
            if(xhr.readyState == 4 && xhr.status == 201) {
                // todo add default parameters
                // instead open a new tab by mocking a submission
                openTreeView({newick: xhr.responseText, metadata: "not so much"})
                spinner.hidden = true
                button.querySelector("#cluster-btn-text").innerText = orgButtonText
            } else {
                clusterButtonError()
                throwClusterErrorToast(xhr)
            }
        })

        xhr.addEventListener("abort", event => {
            // failed request disable button and warn user
            alert("clustering was aborted")
        })

        xhr.addEventListener("error", event => {
            // failed request disable button and warn user
            clusterButtonError()
            throwClusterErrorToast(xhr)
        })

        // make request
        xhr.open("POST", entrypointURL, true)
        // set request token header
        xhr.setRequestHeader("Authorization", `Bearer ${localStorage.getItem("token")}`)
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", '*')
        window.sessionStorage.setItem("clusteredSamples", JSON.stringify({sampleId: sampleId}))
        xhr.send(JSON.stringify({"sampleIds": sampleId, "method": method, "distance": distance}))
    })

    }
</script>


{% endblock content %}
