#comment-container {
  max-height: 40em;
}

.sidebar-heading {
  font-size: .75rem;
}

.comment-box:hover {
  box-shadow: .4rem .225rem .80rem rgba(0,0,0,.095) !important;
}

@media (min-width: 992px) {
  .br-layout {
    display:grid;
    grid-template-areas:"sidebar main";
    grid-template-columns:1fr 6fr;
    gap:1.5rem
  }
}

@media (min-width: 992px) {
  .br-sidebar {
    position:-webkit-sticky;
    position:sticky;
    top:6rem;
    display:block !important;
    height: calc(100vh - 6rem);
    padding-left:.25rem;
    margin-left:-.25rem;
    overflow-y:auto
  }
}

.br-sidebar {
  grid-area: sidebar;
}

.br-main {
  grid-area: main;
}

@media (max-width: 991.98px) {
  .br-main {
    max-width:760px;
    margin-inline:auto
  }
}
@media (min-width: 768px) {
  .br-main {
    display:grid;
    grid-template-areas:"header" "toc" "content";
    grid-template-rows:auto auto 1fr;
    gap:inherit
  }
}
@media (min-width: 992px) {
  .br-main {
    grid-template-areas:"header toc" "content toc";
    grid-template-rows:auto 1fr;
    grid-template-columns:5fr 1fr
  }
}

.br-toc {
  position: sticky;
  top: 6rem;
  right: 0;
  z-index: 2;
  height: calc(100vh - 7rem);
  overflow-y: auto;
  grid-area: toc;
}

#toc-contents a {
  font-size: .875rem;
  color:#343a40;
  border-left: .125rem solid transparent;
}

#toc-contents a:hover, a.active {
  color: #198754 !important;
  border-left-color: #198754 !important;
}

.toc-collapse {
  display: block !important;
}

.card {
  border-radius: 0 !important;
  margin-bottom: 0.850rem;
}

.tag {
  height: 50%;
}

#similar-samples-cluster .spinner-border {
  width: 4rem;
  height: 4rem;
}

.tbl-border-left {
  border-left: #343a40 2px solid;
}

.tbl-border-right {
  border-right: #343a40 2px solid;
}

.br-header {
  grid-area: header;
}