{% macro navbar(current_user) %}
<nav class="navbar navbar-expand-lg navbar-light bg-success bg-opacity-25">
    <div class="container-fluid">
    <a href="/" class="navbar-brand">BaktAna</a>
    <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"/>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ navbar_link('Home') }}
            {{ navbar_link('Groups') }}
            {{ navbar_link('Locations') }}
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 ml-2">
            {% if current_user.is_authenticated %}
                {{ user_dropdown() }}
            {% endif %}
        </ul>
    </div>
    </div>
</nav>
{% endmacro %}

{% macro navbar_link(name) %}
<li class="nav-link">
    <a href="">{{ name }}</a>
</li>
{% endmacro %}

{% macro user_dropdown(current_user) %}
<li class="nav-item dropdown">
    <a 
        id="navbarDropdown"
        class="nav-link dropdown-toggle" 
        role="button"
        href="#" 
        data-bs-toggle="dropdown"
        data-bs-display="static"
        aria-expanded="false"
        >
        <span className="user-alias-container bg-dark text-light text-center text-uppercase fs-6 fw-lighter font-monospace">
            {{ current_user }}
        </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
        {{ dropdown_link('Profile', '#', disabled=True) }}
        {{ dropdown_link('Settings', '#', disabled=True) }}
        <li><hr class="dropdown-divider"/></li>
        {{ dropdown_link('Log out', '#', disabled=True) }}
    </ul>
</li>
{% endmacro %}

{% macro dropdown_link(text, url_target, disabled=False) %}
<li>
    <a href="{{url_target}}"
        class="dropdown-item {% if disabled %} disabled {% endif %}"
    >{{ text }}</a>
</li>
{% endmacro %}