.br-link {
  color: steelblue;
  text-decoration: underline;
}

.group-card a:hover {
  box-shadow: .4rem .225rem .80rem rgba(0,0,0,.095) !important;
}

.column-card:hover {
  box-shadow: .2rem .125rem .40rem rgba(0,0,0,.095) !important;
}

.group-card .card-body {
  padding: 0.5rem;
}

.group-card .card-footer {
  font-size: x-small;
}

.group-card .n-samples {
  font-size: x-small;
}

.group-card .card-text {
  font-size: small;
}

.group-card .edit-button {
  font-size: small;
}

.sidebar {
    height: 30rem;
}

.br-main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8rem);
}

#data-table {
    width: 100%;
    flex-grow: 1;
}

#add-to-basket-btn { 
  width: 10em;
}