.br-link {
  color: steelblue;
  text-decoration: underline;
}

.br-main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8rem);
}

#data-table {
    width: 100%;
    flex-grow: 1;
}

.card-body .table {
    font-size: small;
}