{% extends "layout.html" %}
{% from "shared.html" import search_similar_btn, search_similar_js, add_to_basket_btn, add_to_basket_js, qc_bulk_toggle, delete_samples_btn %}
{% from "cell_fmt.html" import format_table_cell %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css">
<link rel="stylesheet" href="{{url_for('groups.static', filename='groups.css')}}">
<link href="https://cdn.datatables.net/v/bs5/dt-2.1.6/b-3.1.2/sb-1.8.0/sp-2.3.2/sl-2.1.0/datatables.min.css" rel="stylesheet">
{% endblock css %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.datatables.net/v/bs5/dt-2.1.6/b-3.1.2/sb-1.8.0/sp-2.3.2/sl-2.1.0/datatables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% endblock scripts %}

{% block content %}
<div class="card bg-white mt-4 col-lg-auto mx-2">
    <div class="card-body br-main">
        <h5 class="card-title text-uppercase fw-light">Groups</h5>
        <hr class="mt-2 col-md-2 border border-success border-2">
        {% if groups %}
        <div class="d-flex justify-content-start">
            <div class="row">
                {% for group in groups %}
                    <div class="col-sm-6 col-md-4 col-lg-auto py-2">
                        {{ group_card(group, current_user.is_admin) }}
                    </div>
                {% endfor %}
                {% if current_user.is_admin %}
                    <div class="col-sm-6 col-md-4 col-lg-auto py-2">{{ create_group_card() }}</div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <h5 class="card-title text-uppercase fw-light pt-4">All samples</h5>
        <hr class="mt-2 col-md-2 border border-success border-2">
        <nav class="navbar bg-light">
            <div class="container-fluid justify-content-start">
                {{ add_to_basket_btn() }}

                {% if current_user.is_admin %}
                    {{ delete_samples_btn() }}

                    {# Add selected samples to group #}
                    <div class="dropdown ps-2">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-folder-plus"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {% for group in groups %}
                                <li><a class="dropdown-item" onclick="addSelectedSamplesToGroup('{{group.group_id}}')">{{ group.display_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {{ search_similar_btn() }}

                {{ qc_bulk_toggle(bad_qc_actions) }}
            </div>
        </nav>
        {# build sample table #}
        <table id="sample-table" class="display table table-striped">
            <thead>
                <tr>
                    {# build table header #}
                    {% for col in table_data[0] %}
                        <td>{{ col.label }}</td>
                    {% endfor %}
                </th>
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr id="{{ row[0].data }}">
                        {% for cell in row %}
                            {{ format_table_cell(cell) }}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    const apiURL = "{{ config.BONSAI_API_URL }}"
    // template code for adding to basket
    {{ add_to_basket_js() }}
    // template code for searching similar samples
    {{ search_similar_js() }}
</script>
<script>
    function addSelectedSamplesToGroup(groupId) {
        const body = {
            selectedSamples: JSON.parse(sessionStorage.getItem("selectedSamples"))
        }
        const baseUrl = {{ request.script_root|tojson }}
        fetch(`${baseUrl}/api/groups/${groupId}/samples`, {
            method: "POST",
            body: JSON.stringify(body),
            headers: {
                'Accept': 'application/json', 
                'Content-Type': 'application/json' 
            },
            credentials: 'same-origin'
        }).then(response => {
            response.ok ?  location.reload() : throwSmallToast("The samples could not be added to the group", "error")
        })
    }
</script>
<script>
// define data table
const table = new DataTable('#sample-table', { 
    select: true,
    layout: {
        topStart: 'searchBuilder'
    },
});
table.on('select', (e, dt, type, indexes) => window.updateRowSelectionCounters());
table.on('deselect', (e, dt, type, indexes) => window.updateRowSelectionCounters());

// define global functions
window.getSelectedRows = () => table.rows('.selected')
window.selectRows = (sampleIds) => {
    table.rows(sampleIds.map(id => `#${id}`)).select()
    window.updateRowSelectionCounters()
}

window.updateRowSelectionCounters = () => {
    let nSelectedRows = table.rows('.selected').data().length
    // enable add to basket + toggle qc buttons when user selects at least one row
    document.getElementById("add-to-basket-btn").disabled = 1 > nSelectedRows
    document.getElementById("toggle-qc-btn").disabled = 1 > nSelectedRows
    // enable find simiar samples button when ONE row is selected
    document.getElementById("select-similar-samples-btn").disabled = 1 !== nSelectedRows
    // enable remove samples btn
    if (document.getElementById("remove-samples-btn") !== null) {
        document.getElementById("remove-samples-btn").disabled = 0 > nSelectedRows
    }
    sessionStorage.setItem("selectedSamples", JSON.stringify(table.rows('.selected').ids().toArray()));
}
 
</script>
{% endblock content %}

{% macro group_card(group, is_admin=False) %}
<div class="card group-card position-relative">
    {% if is_admin %}
        <a class="d-inline-block badge bage-pill bg-secondary edit-button position-absolute top-0 start-100 translate-middle"
                role="button"
                href="{{ url_for('groups.edit_groups', group_id=group.group_id) }}">
            <i class="bi bi-pencil"></i>
        </a>
    {% endif %}
    <a class="link-dark text-decoration-none" href="{{ url_for('groups.group', group_id=group.group_id) }}">
        <div class="card-body">
            <h5 class="card-title mb-0">{{ group.display_name }}</h5>
            <span class="text-muted text-uppercase fw-semibold n-samples">Samples: {{ group.included_samples | length }}</span>
            {% if group.description %}
                <p class="card-text text-wrap">{{ group.description | truncate(40) }}</p>
            {% endif %}
        </div>
        <div class="card-footer text-body-secondary text-muted py-1 text-uppercase fw-semibold">
            <span class="last-update text-uppercase fw-semibold text-muted">Updated: {{ group.modified_at | strftime }}</span>
        </div>
    </a>
</div>
{% endmacro %}

{% macro create_group_card() %}
<div class="card group-card position-relative text-center border-success h-100">
    {# Card for createing groups with similar layout as the group_card #}
    <a class="link-dark text-decoration-none h-100" href="{{ url_for('groups.edit_groups') }}">
        <div class="card-body">
            <p class="text-success position-absolute top-50 start-50 translate-middle fs-1 p-0">
                <i class="bi bi-plus-lg"></i>
            </p>
        </div>
    </a>
</div>
{% endmacro %}