{{ missing_cnt }}
<canvas id="myCanvas" width="2000" height="400"></canvas>

{% for key, value in sample_missing.items()|sort(attribute=1, reverse=True) %}
  {{ key }}: {{ value }}<br>
{% endfor %}


<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
  
{% for p in profiles %}
  {% set rowloop = loop %}
    {% for l in p %}
    {% if l == '-' %}
      ctx.fillStyle = "blue";
      ctx.fillRect( {{loop.index}}, {{rowloop.index}}, 1, 1);
    {% endif %}
  {% endfor %}
{% endfor %}

ctx.fillStyle = "red";

{% for i in range(num_loci) %}
  {% if missing[i] == 1 %}
    ctx.fillRect( {{i}}, {{ profiles|length }}+ 10, 1, 10 )
  {% endif %}
{% endfor %}

</script>




