.sw-logo-text {
    font-family: "Bodoni MT", "Times New Roman", Times, serif;
}

.sw-logo-text-lg {
    font-size: 72pt;
}

.corporate-logo {
    width: 25em;
}

/* CSS OVERRIDES */
/* Prevent search ui from pushing table data off screen */
/* when applying search filters in /groups              */
div#grid_grid_searches.w2ui-grid-searches {
    margin-right:0!important
}

.br-navbar {
    background-color: #c0ddd1;
    padding: 0.75rem 0;
}